@using DKCrm.Shared.Constants
@using DKCrm.Client.Components.CategoryDrawer
@inject CustomStateProvider AuthStateProvider


<div class="my-navbody">
    <div class="top-row ps-3 navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">DKCrm</a>
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="d-flex mb-2">
        <NotePadComponent/>
        <GlobalFilterComponent OnGlobalFilter="@OnGlobalFilter"
                               ResetGlobalFilter="@ResetGlobalFilter"/>
    </div>
        <div class="@MyNavMenuCssClass" @onclick="ToggleNavMenu">
        <div class="navcontainer">
            <div class="navlink-nav">
                @*<div class="my-navitem">
                    <MudNavLink Class="my-navlink" Match="NavLinkMatch.All" Href="/">
                        <MudIcon Size="@Size.Medium" Color="Color.Default" Icon="@Icons.Material.Sharp.Home" Class="pa-0 ml-2"/>Home
                    </MudNavLink>
                </div>*@
                <div class="my-navitem">
                    <MudNavLink ActiveClass="nav-active"  Class="my-navlink" Match="NavLinkMatch.All" Href="/companies"> 
                        <MudIcon  Color="Color.Default" Icon="@Icons.Material.Sharp.AssuredWorkload" Class="pa-0 mr-2" />Компании
                    </MudNavLink>
                </div>
                <div class="my-navitem">
                    <MudNavLink ActiveClass="nav-active" Class="my-navlink" Href="/imported_orders">
                        <MudIcon  Color="Color.Default" Icon="@Icons.Material.Sharp.SwipeDownAlt" Class="pa-0 mr-2" />Импорт
                    </MudNavLink>
                </div>
                <div class="my-navitem">
                    <MudNavLink ActiveClass="nav-active" Class="my-navlink" Href="/export_orders">
                        <MudIcon  Color="Color.Default" Icon="@Icons.Material.Sharp.SwipeUpAlt" Class="pa-0 mr-2" />Экспорт
                    </MudNavLink>
                </div>
                <div class="my-navitem">
                    <MudNavLink ActiveClass="nav-active" Class="my-navlink" Href="/product">
                        <MudIcon Color="Color.Default" Icon="@Icons.Material.Sharp.ProductionQuantityLimits" Class="pa-0 mr-2"/>Продукты
                    </MudNavLink>
                </div>
                <div class="my-navitem">
                    <MudNavLink ActiveClass="nav-active" Class="my-navlink" Href="/chat">
                        <MudIcon  Color="Color.Default" Icon="@Icons.Material.Sharp.Chat" Class="pa-0 mr-2"/>Чат
                    </MudNavLink>
                </div>
                <AuthorizeView Roles="@RoleNames.SuAdmin">
                    <Authorized>
                        <div class="my-navitem">
                            <MudNavLink ActiveClass="nav-active" Class="my-navlink" Href="/orders-admin">
                                <MudIcon  Color="Color.Default" Icon="@Icons.Material.Sharp.SupervisedUserCircle" Class="pa-0 mr-2" />Заявки
                            </MudNavLink>
                        </div>
                        <div class="my-navitem">
                            <MudNavLink ActiveClass="nav-active" Class="my-navlink" Href="/usermanager">
                                <MudIcon Color="Color.Default" Icon="@Icons.Material.Sharp.SupervisedUserCircle" Class="pa-0 mr-2"/>Пользователи
                            </MudNavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>
           
                <div class="my-navitem">
                    <MudNavLink ActiveClass="nav-active" Class="my-navlink" Style = "color:aliceblue"
                                Href="/r"> 
                        <MudIcon Size="@Size.Medium" Color="Color.Default" 
                                 Icon="@Icons.Material.Sharp.BarChart" Class="pa-0 mr-2"/>
                    </MudNavLink>
                </div>  
                <div class="my-navitem">
                    <MudNavLink ActiveClass="nav-active" Class="my-navlink" Href="/tasks">
                        <MudIcon Size="@Size.Medium" Color="Color.Default" 
                                 Icon="@Icons.Material.Sharp.PunchClock" Class="pa-0 mr-2"/>
                    </MudNavLink>
                </div>  
            </div>
        </div>
    </div>
    <AuthorizeView>
        <Authorized>
            @if (context.User.Identity != null)
            {
                <MudMenu>
                    <ActivatorContent>
                        <div class="user-nav">
                            <div class="my-navitem">
                                <MudIconButton ActiveClass="nav-active" Class="my-navlink">
                                    @if (UserProfileIsValid == false)
                                    {
                                        <MudTooltip Text="Заполните профиль пользователя" >
                                            <MudIcon
                                                Color="Color.Error"
                                                Icon="@Icons.Material.Filled.Warning" />
                                        </MudTooltip>
                                    }
                                    <MudIcon  Color="Color.Tertiary" Icon="@Icons.Material.Sharp.PermIdentity" Class="pa-0 mr-2"/>
                                </MudIconButton>
                            </div>
                        </div>
                    </ActivatorContent>
                    <ChildContent>
                        <div style="background: gray">
                        <div class="my-navitem">
                            <MudNavLink ActiveClass="nav-active" Class="my-navlink" Href="/userprofile">
                                @if (UserProfileIsValid == false)
                                {
                                    <MudTooltip Text="Заполните профиль пользователя">
                                        <MudIcon
                                            Color="Color.Error"
                                            Icon="@Icons.Material.Filled.Warning"/>
                                    </MudTooltip>
                                }
                                <MudIcon Color="Color.Default" Icon="@Icons.Material.Sharp.PermIdentity" Class="pa-0 mr-2"/>@context.User.Identity.Name
                            </MudNavLink>
                        </div>
                        <div class="my-navitem">
                            <MudNavLink Class="my-navlink" OnClick="@LogoutClick">
                                <MudIcon Color="Color.Default" Icon="@Icons.Material.Sharp.DirectionsRun" Class="pa-0 mr-2"/>Выход
                            </MudNavLink>
                        </div>
                        </div>
                    </ChildContent>
                </MudMenu>
                @*<div class="user-nav">
                    <div class="my-navitem">
                        <MudNavLink ActiveClass="nav-active" Class="my-navlink" Href="/userprofile">
                            @if (UserProfileIsValid == false)
                            {
                                <MudTooltip Text="Заполните профиль пользователя" >
                                    <MudIcon 
                                        Color="Color.Error"
                                        Icon="@Icons.Material.Filled.Warning" />
                                </MudTooltip>
                            }
                            <MudIcon  Color="Color.Default" Icon="@Icons.Material.Sharp.PermIdentity" Class="pa-0 mr-2"/>@context.User.Identity.Name
                        </MudNavLink>
                    </div>
                    <div class="my-navitem">
                        <MudNavLink Class="my-navlink" OnClick="@LogoutClick">
                            <MudIcon Color="Color.Default" Icon="@Icons.Material.Sharp.DirectionsRun" Class="pa-0 mr-2"/>Выход
                        </MudNavLink>
                    </div>
                </div>*@
            }
        </Authorized>
        <Authorizing>
            <h1>Загрузка ...</h1>
        </Authorizing>
    </AuthorizeView>
</div>

@code {
   
    private bool _collapseNavMenu = true;
    private string? MyNavMenuCssClass => _collapseNavMenu ? "collapse" : null;
    [Parameter] public EventCallback<(int, string)> OnGlobalFilter { get; set; }
    [Parameter] public EventCallback ResetGlobalFilter { get; set; }
   [Parameter] public bool UserProfileIsValid { get; set; }
 
    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
    async Task LogoutClick()
    {
        await AuthStateProvider.Logout();
        _navigationManager.NavigateTo("/login");
    }
  
}
<style>
    .my-navbody {

        background: gray;
     
       
    }
    .top-row {
        background-color: rgba(0,0,0,0.4);
    }
    .navbar-brand {
        font-size: 1.1rem;
     
    }

    .mud-nav-link {
       
    }
    .mud-nav-link:hover {
            color: azure;
        }
    .mud-nav-link .mud-nav-link-text {
        margin-left: 0;
        margin-inline-start: 0;
    }
    .my-navlink{
        color: azure;
        font-size: 1rem;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

    }
    .my-navlink .mud-nav-link .mud-nav-link-text{
        overflow: hidden;
        text-wrap: nowrap;
    }
    .my-navlink:hover {
     background-color: rgba(38, 227, 161, 0.239);
            border: rgba(277, 277, 277, 0.239) solid 1px;
        border-bottom: none;
    }
    .nav-active {
        background-color: white!important;
        color: grey !important;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .user-nav {
        display: flex;
        align-items: start!important
    }
</style>