@using DKCrm.Shared.Models.CompanyModels
@using DKCrm.Client.Pages.OrderManagement.Components
@using DKCrm.Client.Pages.OrderManagement.Dialogs
@using DKCrm.Shared.Constants
@using DKCrm.Shared.Models.OrderModels
@using Microsoft.AspNetCore.Components
@page "/export_orders"
@page "/export_orders/{OrderNumber}/{OrderId:guid}/{ShowOrder:bool}"
@*@page "/imported_order/tag/{tagid:guid}"*@

<MudText Class="m-3" Typo="Typo.h4">Заказы на продажу</MudText>
<div class="d-flex align-items-center px-1">
    <MudButton Variant="Variant.Filled" Size="Size.Medium" OnClick="() => _visibleAddOrderDialog = true" Style="margin-right: 1rem;" Color="Color.Tertiary">
        Добавить заказ
        <MudIcon Size="@Size.Medium" Color="Color.Default" Icon="@Icons.Material.Sharp.Add" Class="pa-0 ml-2" />
    </MudButton>

    <MudButton Variant="Variant.Filled" Size="Size.Medium" OnClick="OpenSettingsDialog" Style="margin-right: 1rem;" Color="Color.Tertiary">
        Настройки
        <MudIcon Size="@Size.Medium" Color="Color.Default" Icon="@Icons.Material.Sharp.Settings" Class="pa-0 ml-2" />
    </MudButton>
    <div style="width: 228px; margin-right: 0.5rem ">
        <MudSelect
            T="string"
            MultiSelection="true"
            @bind-SelectedValues="_currencyDisplay" Text="Отображаемая цена"
            Variant="Variant.Outlined" Dense="true" Style=""
            Class="select-button">
            <MudSelectItem T="string" Value="@("Покупателя")">Покупателя</MudSelectItem>
            <MudSelectItem T="string" Value="@("Сделки")">Сделки</MudSelectItem>
            <MudSelectItem T="string" Value="@("Локальная")">Локальная</MudSelectItem>
        </MudSelect>
    </div>
</div>



<MudTable ServerData="@(new Func<TableState, Task<TableData<ExportedOrder>>>(ServerReload))"
          Dense="false"
          Hover="true"
          ReadOnly="false"
          SelectOnRowClick="false"
          Striped="true"
          Bordered="true"
          HeaderClass="mud-table-header table-head-bordered"
          T="ExportedOrder"
          @ref="_table" >
    <ToolBarContent>
        <MudText Typo="Typo.h6">Список заказов</MudText>
        <MudSpacer />
        <MudTextField Clearable="true" T="string" ValueChanged="@(OnSearch)" Placeholder="Поиск"
                      Style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 6px; padding: 0.5rem; margin-bottom: 0.5rem;"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>

        <div>
            <MudSelect Style="min-width: 14rem" Class="ml-2" T="string" @bind-Value="SelectedOption">
                <MudSelectItem Value="@(SearchChapterNames.OrderNumber)">по номеру заказа</MudSelectItem>
                <MudSelectItem Value="@(SearchChapterNames.CompanyName)">по компании</MudSelectItem>
                <MudSelectItem Value="@(SearchChapterNames.ProductPartNumber)">по парт-номеру</MudSelectItem>
            </MudSelect>
        </div>



    </ToolBarContent>
    <HeaderContent>
        <MudTh></MudTh>
        <MudTh><MudTableSortLabel SortLabel="number_field" T="ExportedOrder">Номер заказа</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="ourCompany_field" T="ExportedOrder">Наша компания</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel Enabled="true" SortLabel="conterCompany_field" T="ExportedOrder">Компания заказчик</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Descending" SortLabel="create_field" T="ExportedOrder">Дата создания</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="update_field" T="ExportedOrder">Дата обновления</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="status_field" T="ExportedOrder">Статус</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="complete_field" T="ExportedOrder">Укомплектованность</MudTableSortLabel></MudTh>
        <MudTh></MudTh>

    </HeaderContent>
    <RowTemplate>
        <MudTd
               Style="@(ShowDetails && OrderId == context.Id? "background-color: gainsboro; width: 3rem; margin: 0; padding: 0" : "background-color: none; width: 3rem; margin: 0; padding: 0")"
               DataLabel="Номер заказа">
            <MudIconButton Size="@Size.Large" 
                           OnClick="() => OpenOrderDetails(context.Id)" 
                           Color="Color.Default"
                           Icon="@(ShowDetails && OrderId == context.Id? Icons.Material.Filled.KeyboardArrowUp : Icons.Material.Filled.KeyboardArrowDown)"
                           Class="pa-0 ml-2" />
        </MudTd>
        <MudTd DataLabel="Номер заказа">@context.Number</MudTd>
        <MudTd DataLabel="Наша компания">
            @if (context.OurCompany != null)
            {
                <MudText Typo="Typo.button"> @context.OurCompany.Name </MudText>
                @if (context.OurEmployee != null)
                {
                    <MudText Typo="Typo.body2">
                        @context.OurEmployee.LastName
                        @context.OurEmployee.FirstName
                        @context.OurEmployee.MiddleName
                    </MudText>
                }
            }
        </MudTd>
        <MudTd DataLabel="Компания покупатель">
            @if (context.CompanyBuyer != null)
            {
                <MudText Typo="Typo.button"> @context.CompanyBuyer.Name </MudText>
                @if (context.EmployeeBuyer != null)
                {
                    <MudText Typo="Typo.body2">
                        @context.EmployeeBuyer.LastName
                        @context.EmployeeBuyer.FirstName
                        @context.EmployeeBuyer.MiddleName
                    </MudText>
                }
            }
        </MudTd>
        <MudTd DataLabel="Дата создания">@context.DateTimeCreated</MudTd>
        <MudTd DataLabel="Дата обновления">@context.DateTimeUpdate</MudTd>
        <MudTd DataLabel="Статус">
            @if (context.ExportedOrderStatus != null )
            {
                <ExportedOrderStatusListComponent
                    CurrentOrder="context" 
                    StatusList="StatusList"/>
               
            }
        </MudTd>
        <MudTd DataLabel="Укомплектованность">
            @if (!context.IsAllProductsAreCollected )
            {
               <MudText>Ожидаем компоненты</MudText>
            }
            else
            {
                <MudText>Собран</MudText>
            }
        </MudTd>
        @if (OrderId == context.Id && ShowDetails)
        {
            <MudTd Style="background-color: gainsboro;" DataLabel="">

                <MudIconButton Size="@Size.Medium" OnClick="() => OpenUpdateOrderDialog(context)" Color="Color.Default" Icon="@Icons.Material.Sharp.Edit" Class="pa-0 ml-2"/>

            </MudTd>
        }
        else
        {
            <MudTd DataLabel="">

                <MudIconButton Size="@Size.Medium" OnClick="() => OpenUpdateOrderDialog(context)" Color="Color.Default" Icon="@Icons.Material.Sharp.Edit" Class="pa-0 ml-2"/>

            </MudTd>
        }


    </RowTemplate>

    <ChildRowContent>
        @if (OrderId == context.Id && ShowDetails)
        {
            <MudTr>
                <td colspan="9" style="text-align: center">
               
                    <MudCard Style="background: gainsboro;" Elevation="25">
                       
                        @*                                <MudCardHeader>
                    <CardHeaderContent>
                    <MudText Typo="Typo.body1">Address Details for <strong>@context.Name</strong></MudText>
                    </CardHeaderContent>
                    </MudCardHeader>*@
                        <MudCardContent Class="pa-1">
                            <ExportOrderDetailsComponent Id="OrderId" CurrencyDisplay="_currencyDisplay" />
                        </MudCardContent>
                    </MudCard>
                </td>
            </MudTr>
        }
    </ChildRowContent>

    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 10, 20 }" />
    </PagerContent>
</MudTable>





<MudDialog @bind-IsVisible="_visibleSettingsOrderDialog" Style="min-width: 900px" Options="new DialogOptions(){CloseButton = true}">
    <DialogContent>
        <MudButton Variant="Variant.Filled" Size="Size.Medium" OnClick="() => _visibleAddOrderDialog = true" Style="margin-left: 1rem;" Color="Color.Tertiary">
        Добавить статус
        <MudIcon Size="@Size.Medium" Color="Color.Default" Icon="@Icons.Material.Sharp.Add" Class="pa-0 ml-2" />
        </MudButton>
        @if (StatusList != null)
        {

            foreach (var status in StatusList)
            {
               
            }
        }
        <div class="flex-column">
            @if (StatusList != null)
            {
                @foreach (var status in StatusList)
                {
                             
                    <MudPaper Class="pa-4 m-3" Style="display: flex; justify-content: space-between; align-items: center">
                        <MudText>@status.Value @status.Position</MudText>
                        <MudButtonGroup>
                            <MudIconButton OnClick="() => OpenStatusEditDialog(status)" Size="Size.Small" Icon="@Icons.Material.Filled.Edit" Color="Color.Primary" class="ml-auto" />
                            <MudIconButton OnClick="() => OpenStatusRemoveDialog(status)" Size="Size.Small" Icon="@Icons.Material.Filled.DeleteForever" Color="Color.Error" class="ml-auto" />
                        </MudButtonGroup>
                    </MudPaper>
                }
            }
        </div >
    </DialogContent>
</MudDialog>

<MudDialog @bind-IsVisible="_visibleOrderStatusRemoveDialog">
    <DialogContent>


        @if (StatusList != null && StatusList.Any())
        {
            <MudText Class="pb-3 text-decoration-underline text-danger">За данным типом закреплены компании!!!Прикрепите их к другому типу</MudText>
            <MudButton Variant="Variant.Filled" Size="Size.Small" OnClick="() => _visibleOrderStatusRemoveDialog = false" Color="Color.Primary">Закрыть</MudButton>
        }
        else
        {
            <MudText Class="pb-3"><MudIcon Size="Size.Large" Color="Color.Warning" Icon="@Icons.Material.Filled.WarningAmber" />Подтвердите удаление</MudText>
            <div class="pt-5 justify-content-between d-flex">
                <MudButton Variant="Variant.Filled" Size="Size.Small" OnClick="async () => await RemoveStatusType()" Color="Color.Error">Удалить</MudButton>
                <MudButton Variant="Variant.Filled" Size="Size.Small" OnClick="() => _visibleOrderStatusRemoveDialog = false" Color="Color.Primary">Закрыть</MudButton>
            </div>
        }

    </DialogContent>
</MudDialog>

<CreateExportedOrderDialog 
    RefreshProductList="() => _table!.ReloadServerData()"
    @bind-VisibleDialog="_visibleAddOrderDialog"/>
   
<EditExportedOrderDialog 
    Id="Order.Id"
    RefreshProductList="() => _table!.ReloadServerData()"
    @bind-VisibleDialog="_visibleUpdateOrderDialog"
    ApplicationOrderingProduct="Order.ApplicationOrderingProducts" />



@code {
    [Parameter] public string? Chapter { get; set; }
    [Parameter] public Guid ChapterId { get; set; }
    [Parameter] public Guid OrderId { get; set; } 
    [Parameter] public string? OrderNumber { get; set; }
    [Parameter] public bool ShowDetails { get; set; }
    [Parameter] public bool ShowOrder { get; set; }
    private List<ExportedOrderStatus>? StatusList { get; set; }
    private ExportedOrderStatus? Status { get; set; }
    public ExportedOrder Order { get; set; } = new();
    private string? _searchString = null;
    public string? SelectedOption { get; set; } = SearchChapterNames.OrderNumber;
    private FilterOrderTuple? _filterOrderTuple;
    private MudTable<ExportedOrder>? _table;

    private bool _visibleAddOrderDialog;
    private bool _visibleUpdateOrderDialog;
    private bool _visibleSettingsOrderDialog; 
    private bool _visibleOrderStatusRemoveDialog;
    private bool _visibleOrderStatusEditDialog;

    public IEnumerable<string> _currencyDisplay { get; set; } = new HashSet<string>() { "Сделки" };
    protected override void OnParametersSet()
    {
        
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            if (_table != null && OrderNumber != null && ShowOrder)
            {
                ShowDetails = true;
                OnSearch(OrderNumber);
            }
        }
        base.OnAfterRender(firstRender);
    }

    protected override async Task OnInitializedAsync()
    {
      
  
    }

    private async Task<TableData<ExportedOrder>> ServerReload(TableState state)
    {
       
        var response = await ExportedOrderManager.GetBySortFilterPaginationAsync(new SortPagedRequest<FilterOrderTuple>()
        {
            PageIndex = state.Page,
            PageSize = state.PageSize,
            SearchString = _searchString,
            SortLabel = state.SortLabel,
            Chapter = Chapter,
            ChapterId = ChapterId,
            SortDirection = state.SortDirection,
            SearchInChapter = SelectedOption,
            FilterTuple = _filterOrderTuple
        });
       
        return new TableData<ExportedOrder>() { TotalItems = response.TotalItems, Items = response.Items };
    }
    private void OnSearch(string text)
    {
        _searchString = text;
        SelectedOption = SelectedOption != "null" ? SelectedOption : null;
        _table!.ReloadServerData();
    }
    private void SelectSearchOption(string text)
    {
        SelectedOption = text!="null"? text : null;
    }
    private void OnFilter(FilterOrderTuple filterTuple)
    {
        _filterOrderTuple = filterTuple;
        _table!.ReloadServerData();
    }


    private void OpenUpdateOrderDialog(ExportedOrder order)
    {
        Order = order;
        _visibleUpdateOrderDialog = true;
    }
    
    //private void RowClickEvent(TableRowClickEventArgs<ExportedOrder> tableRowClickEventArgs)
    //{
    ////row = row == "my-table-row-w" ? "my-table-row" : "my-table-row-w";
    //    ProductId = tableRowClickEventArgs.Item.Id;
    //    _showDetails = !_showDetails;
    //}
    private void OpenOrderDetails(Guid orderId)
    {
        OrderId = orderId;
        ShowDetails = !ShowDetails;
    }

    private async Task OpenSettingsDialog()
    {
        StatusList = await ExportedOrderStatusManager.GetAsync();
        _visibleSettingsOrderDialog = true;
    }
   
    //public async void AddOrderStatus()
    //{
    //    var tempCompanyType = new CompanyType() { Name = _valueString };
    //    if (await CompanyTypeManager.AddAsync(tempCompanyType))
    //    {
    //        CompanyTypes ??= new List<CompanyType>();
    //        CompanyTypes.Add(tempCompanyType);
    //        await GetCompanyTypes();
    //    }
    //}
    public void OpenStatusEditDialog(ExportedOrderStatus status)
    {
        _visibleOrderStatusEditDialog = true;
        Status = status;
    }
    public void OpenStatusRemoveDialog(ExportedOrderStatus status)
    {
        _visibleOrderStatusRemoveDialog = true;
        Status = status;
    }
    private async Task RemoveStatusType()
    {
        if (await ExportedOrderStatusManager.RemoveAsync(Status!.Id))
        {
            _visibleOrderStatusRemoveDialog = false;
            await InvokeAsync(StateHasChanged);
            _snackBar.Add("Тип компании удален!");
        }
        else
        {
            _snackBar.Add("Ошибка при удалении!");
        }
    }
}
<style>
    .mud-table-header {
        background-color: #cbf0ee;
        color: white !important;
        font-weight: bold;
    }
    .my-table-row {
        background: gainsboro;
    }
    .my-table-row-w {
        background: white;
    }

    .select-button {
        margin: 0 !important;
  
        
    }
    .select-button .mud-input-slot.mud-input-root-outlined {
            padding: 0.67rem 0.8rem !important;
            text-transform: uppercase !important;
        font-size: 0.85rem !important;
        
    }
</style>

