@using DKCrm.Shared.Models.CompanyModels
@using DKCrm.Shared.Models.OrderModels
@using DKCrm.Client.Pages.OrderManagement.Dialogs
@page "/imported_order/{id:guid}"

@if (Order != null)
{
   @* <MudText Class="m-2" Typo="Typo.h4">Заказ № @Order.Id</MudText>
    @if (Order.OurCompany != null)
    {
        <MudPaper Elevation="12" Class="p-2 m-1 d-flex justify-content-between align-items-center">
            <div>
                <p class="fs-4 mb-1 ">Наша компания</p>
                <MudText Typo="Typo.body1">
                    <span class="mr-2 fw-bold">Название компании:</span>
                    @Order.OurCompany.Name
                </MudText>
                <MudText Typo="Typo.body1">
                    <span class="mr-2 fw-bold">Сотрудник ведущий сделку:</span>
                    @if (Order.OurEmployee != null)
                    {
                        @Order.OurEmployee.FirstName
                        @Order.OurEmployee.MiddleName
                        @Order.OurEmployee.LastName
                    }
                </MudText>
            </div>
            <MudButton Variant="Variant.Filled" Size="Size.Medium" Href=@($"/companies/{Order.OurCompanyId}") Style="margin-left: 1rem; max-height: 3rem;" Color="Color.Tertiary">
                Подробнее
                <MudIcon Size="@Size.Medium" Color="Color.Default" Icon="@Icons.Material.Sharp.ArrowRight" Class="pa-0 ml-2" />
            </MudButton>

        </MudPaper>
    }
    @if (Order.SellersCompany != null)
    {
        <MudPaper Elevation="12" Class="p-2 m-1 d-flex justify-content-between align-items-center">
            <div>
                <p class="fs-4 mb-1 ">Компания поставщик</p>
                <MudText Typo="Typo.body1">
                    <span class="mr-2 fw-bold">Название компании:</span>
                    @Order.SellersCompany.Name
                </MudText>
                <MudText Typo="Typo.body1">
                    <span class="mr-2 fw-bold">Сотрудник ведущий сделку:</span>
                    @if (Order.EmployeeSeller != null)
                    {
                        @Order.EmployeeSeller.FirstName
                        @Order.EmployeeSeller.MiddleName
                        @Order.EmployeeSeller.LastName
                    }
                </MudText>
            </div>
            <MudButton Variant="Variant.Filled" Size="Size.Medium" Href=@($"/companies/{Order.SellersCompanyId}") Style="margin-left: 1rem; max-height: 3rem;" Color="Color.Tertiary">
                Подробнее
                <MudIcon Size="@Size.Medium" Color="Color.Default" Icon="@Icons.Material.Sharp.ArrowRight" Class="pa-0 ml-2" />
            </MudButton>

        </MudPaper>
    }*@
   
   
   <div class="d-flex px-3"> <MudText Typo="Typo.h6">Список продуктов поставки</MudText>
       <MudSpacer />
       @*<MudTextField @bind-Value="_searchString1"
                      Placeholder="Поиск"
                      Style="box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; border-radius: 6px; padding: 0.5rem; margin-bottom: 0.5rem"
                      Clearable="true"
                      Adornment="Adornment.Start"
                      AdornmentIcon="@Icons.Material.Filled.Search"
                      IconSize="Size.Medium" Class="mt-0"></MudTextField>*@
       <div class="d-flex justify-content-center align-items-center">
           <span class="mr-2 fs-6">за ед.</span><MudSwitch T="bool" ValueChanged="() =>  _allOrOnePrice = _allOrOnePrice != true" Label="все кол.-во"
                                                           Color="Color.Success" UncheckedColor="Color.Info" />
       </div>
       <MudButton Variant="Variant.Filled" Size="Size.Small" OnClick="() => _visibleAddImportedProductDialog=true" Style="margin-left: 1rem;" Color="Color.Tertiary">
           Добавить продукт
           <MudIcon Size="@Size.Medium" Color="Color.Default" Icon="@Icons.Material.Sharp.Add" Class="pa-0 ml-2" />
       </MudButton></div>

    <MudTable Class="m-2" Items="@ImportedProducts" Hover="true" SortLabel="Sort By" T="ImportedProduct"
          OnRowClick="RowClickEvent"
          Striped="true"
          Bordered="true"
          HeaderClass="mud-table-orderD-header table-head-bordered"
          CustomHeader="true"
          Dense="true">
       @* <ToolBarContent>
           
        </ToolBarContent>*@
        <HeaderContent>
           
           
            <MudTHeadRow Class="header-centered">
      
                <MudTh><MudTableSortLabel SortBy="new Func<ImportedProduct, object>(x => x.Product!.PartNumber!)">Парт-номер</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ImportedProduct, object>(x => x.Product!.Name!)">Наименование</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel SortBy="new Func<ImportedProduct, object>(x => x.Product!.Brand?.Name!)">Производитель</MudTableSortLabel></MudTh>
                <MudTh><MudTableSortLabel Enabled="true" SortBy="new Func<ImportedProduct, object>(x => x.Quantity)">Количество</MudTableSortLabel></MudTh>
                
                    <MudTh Style="text-align: center">
                        <MudTableSortLabel Enabled="false" SortBy="new Func<Company, object>(x => x.Name)">Цена в валюте поставщика </MudTableSortLabel>
                        <div class="text-center fw-bold">@Order.SupplierCurrency</div>
                    
                    </MudTh>
                    <MudTh Style="text-align: center">
                        <MudTableSortLabel Enabled="false" SortBy="new Func<Company, object>(x => x.Name)">Цена в валюте сделки</MudTableSortLabel>
                        <div class="text-center fw-bold">@Order.TransactionCurrency</div>

                    </MudTh>
                    <MudTh Style="text-align: center">
                        <MudTableSortLabel Enabled="false" SortBy="new Func<ImportedOrderStatus, object>(x => x.Value)">Цена в локальной валюте</MudTableSortLabel>
                        <div class="text-center fw-bold">@Order.LocalCurrency</div>
                    </MudTh>
            </MudTHeadRow>
           


        </HeaderContent>
        <RowTemplate>
            
                <MudTd DataLabel="Парт-номер">
                    @if (context.Product != null)
                    { @context.Product.PartNumber }
                </MudTd>
            <MudTd DataLabel="Наименование">
                @if (context.Product != null){ @context.Product.Name }
            </MudTd>
            <MudTd DataLabel="Наименование">
                @if (context.Product?.Brand != null){ @context.Product.Brand.Name }
            </MudTd>

            
            <MudTd DataLabel="Количество">@context.Quantity</MudTd>
            <MudTd DataLabel="Цена в валюте поставщика">
                @if (context.PriceInSupplierCurrency != null)
                {
                    if (_allOrOnePrice)
                    {
                         @(decimal.Round((decimal)context.PriceInSupplierCurrency, 2) * context.Quantity)
                    }
                    else
                    {
                        @decimal.Round((decimal)context.PriceInSupplierCurrency, 2)
                    }
                }
            </MudTd>
            <MudTd DataLabel="Цена в валюте сделки">
                @if (context.PriceInTransactionCurrency != null)
                { if (_allOrOnePrice)
                {
                    @(decimal.Round((decimal)context.PriceInTransactionCurrency, 2) * context.Quantity)
                }
                else
                {
                    @decimal.Round((decimal)context.PriceInTransactionCurrency, 2)
                } }
            </MudTd>
            <MudTd DataLabel="Цена в локальной валюте">
                @if (context.PriceLocal != null)
                    {if (_allOrOnePrice)
                    {
                        @(decimal.Round((decimal)context.PriceLocal, 2) * context.Quantity)
                    }
                    else
                    {
                        @decimal.Round((decimal)context.PriceLocal, 2)
                    }
                }
            </MudTd>
                               
                
            <MudTd DataLabel="Редактировать">
                <MudIconButton Size="@Size.Medium"
                           OnClick="() => OpenEditImportProductDialog(context)"
                           Style=" background-color: rgba(217, 214, 81, 0.431);"
                           Icon="@Icons.Material.Sharp.Edit" Class="pa-0 ml-2"/>
            </MudTd>
        </RowTemplate>
       @* <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { 10, 20 }" />
        </PagerContent>*@
    </MudTable>





    <CreateImportedProductDialog @bind-VisibleDialog="_visibleAddImportedProductDialog"
                            RefreshProductList="OnInitializedAsync"
                            Order="Order"/>

    <EditImportedProductDialog @bind-VisibleDialog="@_visibleEditImportedProductDialog"
                                   RefreshProductList="@OnInitializedAsync"
                                   Id="@ImportedProductId"/>
    
}
@code {

    [Parameter] public Guid Id { get; set; }
    public ImportedOrder? Order { get; set; }
    private List<ImportedProduct>? ImportedProducts { get; set; }
    public ImportedProduct? ImportedProduct { get; set; }
    public Guid ImportedProductId { get; set; }

    public bool VisibleCompanySettingsDrawer { get; set; }
    object _selectedValue = 1;

    private bool _visibleAddImportedProductDialog;
    private bool _visibleEditImportedProductDialog;

    private bool _allOrOnePrice;

    protected override async Task OnInitializedAsync()
    {
        Order = await ImportedOrderManager.GetDetailsAsync(Id);
        if (Order.ImportedProducts != null) ImportedProducts = Order.ImportedProducts.ToList();
    }

    private void OpenEditImportProductDialog(ImportedProduct importedProduct)
    {
        ImportedProductId = importedProduct.Id;
        _visibleEditImportedProductDialog = true;
    }
    private void RowClickEvent(TableRowClickEventArgs<ImportedProduct> tableRowClickEventArgs)
    {
       // _navigationManager.NavigateTo($"/companies/{tableRowClickEventArgs.Item.Id}");
    }

   
    
}
<style>
    .mud-table-orderD-header {
        background-color: rgba(217, 214, 81, 0.431);
        color: white !important;
        font-weight: bold;
    }
</style>

