@using DKCrm.Shared.Models.OrderModels
@inject IDocumentManager Doc
@using Size = MudBlazor.Size
@using DKCrm.Shared.Requests.FileService
@using DKCrm.Shared.Constants
@inject IConfiguration conf

<div class="d-flex">
    @if (OwnerType is DocumentOwner.ExportedOrder)
    {
        <MudMenu Class="mr-2">
            <ActivatorContent>
                <MudButton EndIcon="@Icons.Material.Filled.Add" Color="Color.Success" Variant="Variant.Filled">Создать</MudButton>
            </ActivatorContent>
            <ChildContent>
                <MudButton OnClick="() => _visibleCreatePaymentInvoiceDialog = true">Счет на оплату</MudButton>
                <MudButton OnClick="(() => _visibleCreateSpecificationDialog = true)">Спецификацию</MudButton>
                <MudButton OnClick="(() => _visibleCommercialOfferDialog = true)">Коммерческое предложение</MudButton>
                <MudMenuItem>Armory</MudMenuItem>
            </ChildContent>
        </MudMenu>
    }
    <DocumentUploaderComponent DirectoryType="DirectoryType.PrivateFolder"
                               DocumentType="DocumentTypes.Other"
                               FileType="FileTypes.Documents"
                               Owner="OwnerType"
                               OwnerId="OrderId"
                               UploadsFilesCallback="LoadDocInfoList"/>
</div>
@*@if (ImageToOrder!=null && ImageToOrder.Any() && ImageToOrder.Length > 0)
{
    <img width="100" height="100" src="data:image;base64, @Convert.ToBase64String(ImageToOrder)" />
}
else
{
    <img width="100" height="100" src="/default.jpg" />
}*@
@if (GroupInfoSet != null && GroupInfoSet.Any())
{
   
    @foreach (var set in GroupInfoSet)
    {
        <MudPaper Square="true" Style="background-color: rgba(0, 0, 0, 0.1);" class="d-flex flex-column my-2 p-2">
           
                <MudPaper Elevation="2" class="d-flex align-items-center justify-content-between p-1 my-1">
                    <MudLink Class="mr-4 flex-grow-1" OnClick="(() => OpenDocument(set))">@set.Name</MudLink>
                    <div>
                        @* <MudTooltip Text="Откырть">
                            <MudButton Class="mr-2" 
                                           EndIcon="@Icons.Material.Filled.OpenInBrowser"
                                           Variant="Variant.Outlined"
                                           IconSize="Size.Large">открыть</MudButton>
                        </MudTooltip> *@
                        <MudTooltip Text="Скачать с печатью">
                            <MudIconButton Class="mr-2" Icon="@Icons.Material.Filled.AddTask" Variant="Variant.Outlined"/>
                        </MudTooltip>
                        <MudTooltip Text="Скачать">
                            <MudIconButton Class="mr-2" Icon="@Icons.Material.Filled.Download"
                                           OnClick="() => ClickToSave(set.PathToFile, set.Name)"
                                           Variant="Variant.Outlined"/>
                        </MudTooltip>
                        <MudTooltip Text="Удалить">
                            <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                           Color="Color.Error"
                                           OnClick="() => RemoveDocument(set.Id)"
                                           Variant="Variant.Outlined"/>
                        </MudTooltip>
                    </div>
                </MudPaper>
            
        </MudPaper>
    }
}
else
{
    <MudText Class="m-4">Документы не обнаружены</MudText>
}
<MudDialog @bind-Visible="_visibleCreateSpecificationDialog" @ref="_createSpecificationDialog"
           Options="new DialogOptions() { FullWidth = true, MaxWidth = MaxWidth.Medium,BackdropClick = true}">
    <TitleContent>
        <div style="text-align: right">
            <MudButton Variant="Variant.Outlined" 
                       Size="Size.Small"
                       OnClick="@(() => _createSpecificationDialog!.CloseAsync())"
                       Color="Color.Info">Закрыть</MudButton>
        </div>
    </TitleContent>
    <DialogContent>
        <CreateOrderSpecificationComponent OrderId="OrderId" RefreshParent="EndCreateSpecification" />
    </DialogContent>
</MudDialog>
<MudDialog @bind-Visible="_visibleCreatePaymentInvoiceDialog" @ref="_createPaymentInvoiceDialog"
           Options="new DialogOptions() { FullWidth = true, MaxWidth = MaxWidth.Medium,BackdropClick = true}">
    <TitleContent>
        <div style="text-align: right">
            <MudButton Variant="Variant.Outlined"
                       Size="Size.Small"
                       OnClick="@(() => _createPaymentInvoiceDialog!.CloseAsync())"
                       Color="Color.Info">Закрыть</MudButton>
        </div>
    </TitleContent>
    <DialogContent>
        <CreatePaymentInvoiceComponent OrderId="OrderId" RefreshParent="EndCreatePaymentInvoice" />
    </DialogContent>
</MudDialog>

<MudDialog @bind-Visible="_visibleCommercialOfferDialog" @ref="_createCommercialOfferDialog"
           Options="new DialogOptions() { FullWidth = true, MaxWidth = MaxWidth.Medium,BackdropClick = true}">
    <TitleContent>
        <div style="text-align: right">
            <MudButton Variant="Variant.Outlined"
                       Size="Size.Small"
                       OnClick="@(() => _createCommercialOfferDialog!.CloseAsync())"
                       Color="Color.Info">Закрыть</MudButton>
        </div>
    </TitleContent>
    <DialogContent>
        <CreateCommercilOfferComponent OrderId="OrderId" RefreshParent="EndCreateOffer" />
    </DialogContent>
</MudDialog>

@if (CurrentInfoSet != null && _visibleViewPdfDialog)
{
    <DKPdfViewerDialog @bind-VisibleDialog="_visibleViewPdfDialog" 
                       RelativePath="@CurrentInfoSet.PathToFile" 
                       DirectoryType="@DirectoryType.PrivateFolder"
                       StamperIsOn="@true" OrderId="@OrderId"
                       InfoSet="@CurrentInfoSet" StampedFileChanged="StampedFileDialogAction"></DKPdfViewerDialog>
}
@if (CurrentInfoSet != null && _visibleViewPdfToStampDialog)
{
    <DKPdfViewerDialog @bind-VisibleDialog="_visibleViewPdfToStampDialog"
                       DirectoryType="@DirectoryType.PrivateFolder"
                       StamperIsOn="@true" OrderId="@OrderId"
                       InfoSet="@CurrentInfoSet" PdfDocument="StampedDocument" StampedFileChanged="StampedFileDialogAction"></DKPdfViewerDialog>
}
@* <MudDialog @bind-Visible="_visibleStampPdfDialog" Style="height: 100VH"
           Options="new DialogOptions() {DisableBackdropClick = true,FullWidth = true,FullScreen = true, NoHeader = true}"  ContentClass="myPdfViewerDialog">
    <TitleContent>
        
    </TitleContent>
    <DialogContent>
        <div class="clearPdfDialogButton">
            <MudIconButton 
                Size="Size.Large"
                OnClick="() => _visibleViewPdfDialog = false"
                Color="Color.Info" Icon="@Icons.Material.Filled.Close"></MudIconButton>
        </div>
        <MudTooltip Text="Delete">
            <MudIconButton Icon="@Icons.Material.Filled.Delete" />
        </MudTooltip>
      
        
    </DialogContent>
</MudDialog>
 *@
@code {
    
    byte[]? ImageToOrder { get; set; }


    [Parameter] public DocumentOwner OwnerType { get; set; }
    [Parameter] public Guid OrderId { get; set; }
    IEnumerable<InfoSetToDocument>? InfoSets { get; set; }
    IEnumerable<InfoSetToDocument>? GroupInfoSet { get; set; }
    InfoSetToDocument? CurrentInfoSet { get; set; }
    private bool _visibleViewPdfDialog;
    private bool _visibleViewPdfToStampDialog;
    private Guid OurCompanyId { get; set; }
    MudDialog? _createSpecificationDialog;
    MudDialog? _createPaymentInvoiceDialog;    
    MudDialog? _createCommercialOfferDialog;
    private bool _visibleCreateSpecificationDialog;
    private bool _visibleCreatePaymentInvoiceDialog; 
    private bool _visibleCommercialOfferDialog;
    private byte[]? StampedDocument { get; set; }

    private async Task GetImage(Guid id)
    {
        // ImageToOrder = await FilesManager.GetFirstOrDefaultFileInBytArrayAsync( 
        //     new GetFileRequest(){Path= Path.Combine(PathsToDirectories.FileContainer, PathsToDirectories.OrdersImages, id.ToString()),
        //         DirectoryType = DirectoryType.PrivateFolder});
        // var t = $"data:image;base64, @Convert.ToBase64String(item.Value)";
    }
   
    protected override async Task OnInitializedAsync()
    {
        await GetImage(OrderId);
       

    //imageBytes = await FilesManager.GetFileInBytArrayAsync(new GetFileRequest() { Path = $"{PathsToDirectories.OrdersImages}\\{OrderId}\\1.jpg" });
        await LoadDocInfoList();
        
    }

    private async Task LoadDocInfoList()
    {
        InfoSets = await DocumentManager.GetAllInfoSetsForOrderAsync(OrderId);
        GroupInfoSet = InfoSets;

    }
    private async Task EndCreateSpecification()
    {
        //if (_createSpecificationDialog != null)
           // await _createSpecificationDialog.CloseAsync();
        _visibleCreateSpecificationDialog = false;
        await LoadDocInfoList();
    }
    private async Task EndCreatePaymentInvoice()
    {

        _visibleCreatePaymentInvoiceDialog = false;
        await LoadDocInfoList();
    }
    private async Task EndCreateOffer()
    {
    //if (_createSpecificationDialog != null)
    // await _createSpecificationDialog.CloseAsync();
        _visibleCommercialOfferDialog = false;
        await LoadDocInfoList();
    }
    // private async Task CreateDocument()
    // {
    //     var result = await DocumentManager.CreatePaymentInvoicePdfAsync(OrderId);
       

    //     await LoadDocInfoList();
    // }
    private async Task RemoveDocument(Guid infoSetId)
    {
        if(!await ConfirmationActionService.ConfirmationActionAsync("Подтвердите удаление!!!"))
            return;
        await DocumentManager.RemoveDocumentAsync(infoSetId);
        await LoadDocInfoList();
    }
    private void OpenDocument(InfoSetToDocument response)
    {
        if (response.Extension != (int)DocumentExtension.Pdf)
            return;
        CurrentInfoSet = response;
        _visibleViewPdfDialog = true;
      
    }
    private void StampedFileDialogAction(byte[] stampedFile)
    {
        StampedDocument = stampedFile;
        _visibleViewPdfToStampDialog = true;
      
    }
    private async Task ClickToSave(string path, string name)
    {
       if(!await ConfirmationActionService.ConfirmationActionAsync("Подтвердите скачивание"))
              return;
        // CurrentInfoSet = InfoSets?.FirstOrDefault(f => f.Id == infoSetId);
        // if (CurrentInfoSet == null)return;
        var bytFile = await FilesManager.GetFileInBytArrayAsync(new GetFileRequest(){Path = path, IsFullPath = true});
        await _jsRuntime.InvokeVoidAsync
                ("BlazorDownloadFile",  name, "application/octet-stream", bytFile);
    } 
    private async Task GetIndexPage()
    {
       string tu =  await _jsRuntime.InvokeAsync<string>
                 ("ReturnIndexPdfFile");
    }
}
<style>
  
</style>