@using System.Runtime.InteropServices.JavaScript
@using DKCrm.Shared.Models.OrderModels
@using DKCrm.Client.Pages.OrderManagement.Dialogs
@using DKCrm.Shared.Constants
@using DKCrm.Shared.Models.OfferModels
@inject IConfirmationActionService ConfirmationActionService
@if (ExportedProduct != null)
{
    <div class="d-flex flex-column">
        @if (!_editTotalQuantity)
        {
            <div class="d-flex align-items-center">
                <MudText Typo="Typo.button" Class="fw-bold mr-1" Style="color: darkgray">Заказано покупателем:
                    <span style="color: black">@ExportedProduct.Quantity</span> </MudText>
                <MudIconButton Size="@Size.Small" OnClick="() => _editTotalQuantity = true" 
                Icon="@Icons.Material.Outlined.Edit"/> 
            </div>
        }
        else
        {
            <div class="d-flex">
                <MudNumericField T="int" Variant="Variant.Outlined"
                For="@(() => ExportedProduct.Quantity)"
                Immediate="true"
                FullWidth="false"
                Margin="Margin.Dense"
                Min="QuantityInReserveAll"
                @bind-Value="ExportedProduct.Quantity" />
                <MudButton OnClick="UpdateTotalQuantity">Сохранить</MudButton>
                <MudButton OnClick="ResetEditTotalQuantity">Отменить</MudButton>
            </div>
        }
        <MudText Typo="Typo.button" Class="fw-bold" Style="color: darkgray">Зарезервировано:
            <span style="color: black; margin-right: 1rem">@QuantityInReserveAll</span>
            @if (MissingQuantity == 0)
            {
                <span style="color: green">(Требуется: @MissingQuantity)</span>
            }
            else
            {
                <span style="color: red">(Требуется: @MissingQuantity)</span>
            }
        </MudText>
    </div>
    <MudText Typo="Typo.h6">Наличие:</MudText>
    @if (StorageList != null && StorageList.Any())
    {
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr style="background-color: rgba(0, 169, 255, 0.388)">
                    <th scope="col">Склад</th>
                    <th scope="col" style="width: 150px">Количество в наличии</th>
                    <th scope="col" style="width: 150px">Забранное количество</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in StorageList)
                {
                    <tr>
                        <td>@item.Storage!.Name</td>
                        <td>@item.Quantity</td>
                        <td class="d-flex align-items-center justify-content-center">
                            @if (ExportedProduct.SoldFromStorage != null && ExportedProduct.SoldFromStorage.Select(s => s.StorageId).Contains((Guid)item.StorageId!))
                            {
                                var quantitySoldFromStorage = ExportedProduct!.SoldFromStorage!
                                    .FirstOrDefault(f => f.ExportedProductId == ExportedProduct.Id && f.StorageId == item.StorageId)!.Quantity;
                                <MudNumericField T="int" Variant="Variant.Outlined"
                                For="@(() => item.Quantity)"
                                Immediate="true"
                                FullWidth="false"
                                Margin="Margin.Dense"
                                Min="0"
                                Max="@((MissingQuantity > item.Quantity ? item.Quantity : MissingQuantity) + quantitySoldFromStorage)"
                                ValueChanged="@(v => SetFromStorageQuantity(v, (Guid)item.StorageId!))" 
                                Value="quantitySoldFromStorage" Clearable="true"/>
                            }
                            else
                            {
                                @*<MudNumericField T="int" Variant="Variant.Outlined"
                                             Immediate="true"
                                             Label="Количество"
                                             Margin="Margin.Dense"
                                             Min="0"
                                             Max="@((MissingQuantity > item.Quantity ? item.Quantity : MissingQuantity))"
                                             ValueChanged="@(v => SetFromStorageQuantity(v, (Guid)item.StorageId!))" Value="0"/>*@

                                <MudIconButton Disabled="MissingQuantity <= 0" 
                                Color="Color.Primary" 
                                Style="width: 100%; height: 100%"
                                OnClick="@(() => SetFromStorageQuantity((MissingQuantity > item.Quantity ? item.Quantity : MissingQuantity), (Guid)item.StorageId!))"
                                Variant="Variant.Outlined" Icon="@Icons.Material.Filled.ArrowCircleUp"></MudIconButton>
                            }
                            @if (EditedQuantity.Contains((Guid)item.StorageId!) & _errorUpdate)
                            {
                                <MudIcon Icon="@Icons.Material.Filled.Error"/>
                            }
                        </td>
                    </tr>
                }
                <tr style="background-color: rgba(100, 255, 0, 0.388)">
                    <th colspan="3" style="text-align: end">ВСЕГО:
                        @if (ExportedProduct.SoldFromStorage != null)
                        {
                            @ExportedProduct.SoldFromStorage.Select(s => s.Quantity).Sum()
                        }
                    </th>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <MudText Typo="Typo.body1">продукт отсутствует</MudText>
    }
    <MudText Typo="Typo.h6">Импорт:</MudText>
    @if (NotEquippedImportedProducts != null && NotEquippedImportedProducts.Any())
    {
        <table class="table table-bordered table-striped table-sm" >
            <thead>
                <tr style="background-color: rgba(0, 169, 255, 0.388)">
                    <th>№ заказа</th>
                    <th style="width: 150px">Свободное количество</th>
                    <th style="width: 150px">Забранное количество</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var importedProduct in NotEquippedImportedProducts)
                {
                    var notEquippedQuantity = @importedProduct.Quantity - (@importedProduct.PurchaseAtExportList?.Select(s => s.Quantity).Sum() + @importedProduct.PurchaseAtStorageList?.Select(s => s.Quantity).Sum())?? 0;
                    <tr>
                        <td>@importedProduct.ImportedOrder?.Number
                            @if (@importedProduct.ImportedOrderId != null && !IsDoubleNested)
                            {
                                <MudIconButton Icon="@Icons.Material.Filled.Info" Size='Size.Small'
                                OnClick="@(() => OpenImportedOrderPopover((Guid)importedProduct.ImportedOrderId))"/>
                                @if (@importedProduct.ImportedOrderId == ShowingImportOrderId && _visibleImportOrder)
                                {
                                    <MudPopover Open="@_visibleImportOrder"
                                    Style=""
                                    Class="px-4 pt-4"
                                    OverflowBehavior="OverflowBehavior.FlipAlways">
                                        <MudText>@importedProduct.ImportedOrder?.SellersCompany?.Name</MudText>
                                        <ImportedOrderDetailsComponent Id="(Guid)importedProduct.ImportedOrderId"
                                        CurrencyDisplay="@(new[] { "Сделки" })"
                                        ShowCompanyInfo="true"
                                        IsDoubleNested="true"/>
                                        <div class="text-end mb-2">
                                            <MudButton OnClick="(() => _visibleImportOrder = false)" Color="Color.Info">закрыть</MudButton>
                                        </div>
                                    </MudPopover>
                                }
                            }
                        </td>
                        <td>@notEquippedQuantity</td>
                        <td class="d-flex align-items-center">
                            @if (ExportedProduct.PurchaseAtExports != null && ExportedProduct.PurchaseAtExports.Select(s => s.ImportedProductId).Contains(importedProduct.Id))
                            {
                                var quantityPurchaseAtExport = ExportedProduct.PurchaseAtExports.FirstOrDefault(f => f.ExportedProductId == ExportedProduct.Id && f.ImportedProductId == importedProduct.Id)!.Quantity;
                                <MudNumericField T="int" Variant="Variant.Outlined"
                                For="@(() => quantityPurchaseAtExport)"
                                Immediate="true"
                                Margin="Margin.Dense"
                                Min="0"
                                Max="@((MissingQuantity > notEquippedQuantity ? notEquippedQuantity : MissingQuantity) + quantityPurchaseAtExport)"
                                ValueChanged="@(v => SetPurchaseAtExportQuantity(v, importedProduct.Id))"
                                Value="quantityPurchaseAtExport" Clearable="true"/>
                            }
                            else
                            {
                                <MudIconButton Disabled="MissingQuantity <= 0"
                                Color="Color.Primary"
                                Style="width: 100%; height: 100%"
                                OnClick="() => SetPurchaseAtExportQuantity((MissingQuantity > notEquippedQuantity ? notEquippedQuantity : MissingQuantity), importedProduct.Id)"
                                Variant="Variant.Outlined" Icon="@Icons.Material.Filled.ArrowCircleUp"/>
                            }
                            @if (EditedQuantity.Contains(importedProduct.Id) & _errorUpdate)
                            {
                                <MudIcon Icon="@Icons.Material.Filled.Error"/>
                            }
                        </td>
                    </tr>
                }   
                @if (ExportedProduct.PurchaseAtExports != null)
                {
                    <tr style="background-color: rgba(100, 255, 0, 0.388)">
                        <th colspan="3" style="text-align: end">
                            ВСЕГО:
                            @ExportedProduct.PurchaseAtExports.Select(s => s.Quantity).Sum()
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <MudText Typo="Typo.body1">заказы с данным продуктом отсутствуют</MudText>

    }
    <MudButton OnClick="CreateImportedProduct">Создать заказ на импорт</MudButton>

    <MudText Typo="Typo.h6">Предложения:</MudText>
    @if (ImportOfferCurrentPriceList != null && ImportOfferCurrentPriceList.Any())
    {
        <table class="table table-bordered table-striped table-sm">
            <thead>
                <tr style="background-color: rgba(0, 169, 255, 0.388)">
                    <th style="width: 30px;"></th>
                    <th>Компания</th>
                    <th style="width: 150px;">Свободное количество</th>
                    <th style="width: 150px;">Цена</th>
                    <th style="width: 150px;">Забранное количество</th>
                    <th style="width: 30px;"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var price in ImportOfferCurrentPriceList)
                {

                    double offerNotEquippedQuantity = 0;
                    if (@price.ExportProductPriceImportOffers != null)
                    {
                        offerNotEquippedQuantity = price.Quantity - (@price.ExportProductPriceImportOffers.Select(s => s.Quantity).Sum());
                    }
                    else
                    {
                        offerNotEquippedQuantity = price.Quantity;
                    }
                    <tr>
	                    @{
		                    double quantitySelectByOffer = 0;

	                    }
	                    @if (price.ExportProductPriceImportOffers != null && price.ExportProductPriceImportOffers.Select(s => s.ExportedProductId).Contains(ExportedProduct.Id))
	                    {
		                    quantitySelectByOffer = price.ExportProductPriceImportOffers.FirstOrDefault(f => f.ExportedProductId == ExportedProduct.Id
		                                                                                                     && f.PriceId == price.Id)!.Quantity;
	                    }
	                    <td class="">
		                    @if (true)
		                    {
			                    <MudTooltip Text="Добавить в заказ на импорт">

				                    <MudIconButton Icon="@Icons.Material.Filled.ProductionQuantityLimits"
				                                   Variant="Variant.Filled"
				                                   Style=""
				                                   OnClick="() => OpenAddToImportOrderComponent((Guid)(ImportOfferList!.FirstOrDefault(f => f.Id == price.ImportOfferId)?.Company!.Id)!)"/>
				                    <MudDialog @bind-Visible="_visibleImportOrdersFromOffer" Style="max-width: 700px;padding: 0"
				                               Options="new DialogOptions() { CloseButton = true, FullScreen = true, }" Class="no-padding">
					                    <DialogContent>
						                    <div class="p-3 d-flex justify-content-between">
							                    <MudText Style="font-weight:600;">№ заказа</MudText>
							                    <MudButton>Создать заказ</MudButton>
						                    </div>
						                    @if (BeginFormedImportOrders != null)
						                    {
							                    foreach (var order in BeginFormedImportOrders)
							                    {
								                    <MudPaper Class="p-3 mb-2">
									                    <div class="d-flex justify-content-between">
										                    <div class="d-flex">
											                    <MudText> @order.Number @order.DateTimeCreated</MudText>
											                    @if (!IsDoubleNested)
											                    {
												                    <MudIconButton Icon="@Icons.Material.Filled.Info" Size='Size.Small'
												                                   OnClick="@(() => OpenImportedOrderInOfferPopover((Guid)order.Id))"/>
												                    @if (@order.Id == ShowingImportOrderInOfferId && _visibleImportOrderInOffer)
												                    {
													                    <MudPopover Open="@_visibleImportOrderInOffer"
													                                Style=""
													                                Class="px-4 pt-4"
													                                OverflowBehavior="OverflowBehavior.FlipAlways">
														                    <MudText>@order?.SellersCompany?.Name</MudText>
														                    <ImportedOrderDetailsComponent Id="order.Id"
														                                                   CurrencyDisplay="@(new[] { "Сделки" })"
														                                                   ShowCompanyInfo="true"
														                                                   IsDoubleNested="true"/>
														                    <div class="text-end mb-2">
															                    <MudButton OnClick="(() => _visibleImportOrderInOffer = false)" Color="Color.Info">закрыть</MudButton>
														                    </div>
													                    </MudPopover>
												                    }
											                    }
										                    </div>
										                    <MudTooltip Text="Добавить к этому заказу">
											                    <MudIconButton Icon="@Icons.Material.Filled.Add" Size='Size.Small'
                                                                               OnClick="@(() => OpenAddProductAtOfferToImportOrderComponent(order, (int)quantitySelectByOffer, price))" />
										                    </MudTooltip>
									                    </div>

								                    </MudPaper>
							                    }
						                    }
					                    </DialogContent>
				                    </MudDialog>
			                    </MudTooltip>
		                    }
	                    </td>
	                    <td>
		                    @(ImportOfferList!.FirstOrDefault(f => f.Id == price.ImportOfferId)?.Company!.Name)


	                    </td>
	                    <td>@offerNotEquippedQuantity</td>
	                    <td>@($"{decimal.Round(price.ValueLocal, 2)} {price.CurrencyLocal}")</td>
	                    <td class="d-flex align-items-center">

		                    <MudNumericField T="double" Variant="Variant.Outlined"
		                                     For="@(() => quantitySelectByOffer)"
		                                     Immediate="true"
		                                     Margin="Margin.Dense"
		                                     Min="0"
		                                     Max="@((MissingQuantity > offerNotEquippedQuantity ? offerNotEquippedQuantity : MissingQuantity) + quantitySelectByOffer)"
		                                     ValueChanged="@(v => SetOfferToExportedProduct(v, price))"
		                                     Value="editedPriceId == price.Id && editedPrice != null ? editedPrice.Quantity : quantitySelectByOffer" Clearable="true"/>

		                    @*else
                            {
                                <MudIconButton Disabled="MissingQuantity <= 0"
                                               Color="Color.Primary"
                                               Style="width: 100%; height: 100%"
                                               OnClick="() => SetOfferToExportedProduct((int)(MissingQuantity > offerNotEquippedQuantity ? offerNotEquippedQuantity : MissingQuantity), price)"
                                               Variant="Variant.Outlined" Icon="@Icons.Material.Filled.ArrowCircleUp"/>
                            }*@

		                    @*@if (EditedQuantity.Contains(importedProduct.Id) & _errorUpdate)
                            {
                                <MudIcon Icon="@Icons.Material.Filled.Error" />
                            }*@
	                    </td>
	                    <td class="">
		                    @if (editedPriceId == price.Id)
		                    {
			                    <MudIconButton Disabled="MissingQuantity <= 0"
			                                   Color="Color.Primary"
			                                   Size="Size.Small"
			                                   OnClick="() => AddOfferToExportedProduct()"
			                                   Variant="Variant.Outlined" Icon="@Icons.Material.Filled.Check"/>
			                    <MudIconButton Disabled="MissingQuantity <= 0"
			                                   Color="Color.Primary"
			                                   Size="Size.Small"
			                                   OnClick="() => ResetEditPrice(price)"
			                                   Variant="Variant.Outlined" Icon="@Icons.Material.Filled.Clear"/>
		                    }
	                    </td>
                    </tr>

                }
                @if (ExportedProduct.PurchaseAtExports != null)
                {
                    <tr style="background-color: rgba(100, 255, 0, 0.388)">
                        <th colspan="4" style="text-align: end">
                            ВСЕГО:
                            @_allSelectedFromOffers
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <MudText Typo="Typo.body1">Предложения с данным продуктом отсутствуют</MudText>

    }
}
<div class="d-flex justify-content-end mb-3">
    @if (_errorUpdate)
    {
        <MudText Color="Color.Error">Возникла ошибка при обновлении</MudText>
    }
    @if (EditedQuantity != null && EditedQuantity.Any())
    {
        <MudButton Color="Color.Primary"
        OnClick="() => UpdateSources()"
        Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Check">Сохранить</MudButton>
    }
    @*    @if (EditedQuantity!.Any())
    {
        <MudButton OnClick="(async () => await CancelEditCallback.InvokeAsync())" Color="Color.Info">отменить</MudButton>
    }*@
</div>
<CreateImportedProductDialog @bind-VisibleDialog="_visibleAddImportedProductDialog"
RefreshProductList="OnInitializedAsync"
Order="OrderOwner" 
Product="@ExportedProduct.Product"
PurchaseAtExport="@PurchaseAtOffer"
                             LinkPriceForImportOffer="ImportOfferPriceForAddedToOrder" />
@* <CreateImportedProductDialog @bind-VisibleDialog="_visibleAddImportedProductDialog"
                             RefreshProductList="OnInitializedAsync"/> *@
@code
{
    [Parameter] public bool IsDoubleNested { get; set; }
    [Parameter] public EventCallback CancelEditCallback { get; set; }
    [Parameter] public EventCallback RefreshParentCallback { get; set; }
    [Parameter] public ExportedProduct? ExportedProduct { get; set; }
    private List<SoldFromStorage>? BackupSoldFromStorage { get; set; }
    private List<PurchaseAtExport>? BackupPurchaseAtExport { get; set; }
    public List<ProductsInStorage>? StorageList { get; set; }
    private List<ImportedProduct>? NotEquippedImportedProducts { get; set; }
    private List<ImportOffer>? ImportOfferList { get; set; }
    private List<PriceForImportOffer>? ImportOfferCurrentPriceList { get; set; }
    private ImportedProduct? CreatedImportedProduct { get; set; }
    private Guid ShowingImportOrderId { get; set; }
    private Guid ShowingImportOrderInOfferId { get; set; }
    private int MissingQuantity { get; set; }
    private int QuantityInReserveAll { get; set; }
    private List<Guid> EditedQuantity { get; set; } = new();
    private List<ImportedOrder>? BeginFormedImportOrders { get; set; }
    private Dictionary<Guid, List<ImportedOrder>> BackupImportOrdersForCompany = new Dictionary<Guid, List<ImportedOrder>>();
    private ImportedOrder? OrderOwner { get; set; }
    private PurchaseAtExport PurchaseAtOffer;
    private Guid? editedPriceId;
    private ExportProductPriceImportOffer? editedPrice;
    private double? _backupOfferQuantity;
    private double? _allSelectedFromOffers;
    private ImportProductPriceImportOffer? ImportOfferPriceForAddedToOrder { get; set; }

    private bool _errorUpdate;
    private bool _soldFromStorageIsEdit;
    private bool _loadProduct;
    private bool _editTotalQuantity;
    private int _backupTotalQuantity; 
    private bool _visibleAddImportedProductDialog;
    private bool _visibleImportOrder; 
    private bool _visibleImportOrderInOffer;    
    private bool _visibleImportOrdersFromOffer;

    protected override void OnInitialized()
    {
        SetBackup();
    }
    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender  && !_loadProduct && ExportedProduct != null)
        {
            _loadProduct = true;
            CalculateQuantity();
        }

        return base.OnAfterRenderAsync(firstRender);
    }

    protected override async Task OnParametersSetAsync()
    {
        if (!_loadProduct && ExportedProduct is { Product.ProductsInStorage: { } })
            StorageList = ExportedProduct.Product.ProductsInStorage.ToList();

        NotEquippedImportedProducts ??= await ImportedProductManager.GetNotEquippedAsync((Guid)ExportedProduct?.ProductId!);
        var response = await ImportOfferManager.GetBySortFilterPaginationAsync(new SortPagedRequest<FilterOfferTuple>()
        {
            PageIndex = 0,
            PageSize = Int32.MaxValue,
            FilterTuple = new FilterOfferTuple()
            {
                    ProductId = (Guid)ExportedProduct?.ProductId!,
            },
        }, new CancellationToken(false));
        ImportOfferList = (List<ImportOffer>?)response.Items;
        if (ImportOfferList != null) 
            ImportOfferCurrentPriceList = ImportOfferList.Where(w=>w.PricesForImportOffer!= null)
                .Select(s => s.PricesForImportOffer!.MaxBy(o => o.DateTimeOver)!).ToList();

        CalculateQuantity();
    }

    private void SetBackup()
    {
        _backupTotalQuantity = ExportedProduct!.Quantity;
        if (ExportedProduct is {SoldFromStorage: { } })
            BackupSoldFromStorage = ExportedProduct.SoldFromStorage.Select(s => new SoldFromStorage()
            {
                StorageId = s.StorageId,ExportedProductId = s.ExportedProductId, Quantity = s.Quantity
            }).ToList();
        if (ExportedProduct is {PurchaseAtExports: { } })
            BackupPurchaseAtExport = ExportedProduct.PurchaseAtExports.Select(s => new PurchaseAtExport()
            {
                ImportedProductId = s.ImportedProductId,ExportedProductId = s.ExportedProductId, Quantity = s.Quantity
            }).ToList();
    }
    private async Task UpdateTotalQuantity()
    {
        if (!await ConfirmationActionService.ConfirmationActionAsync("Подтвердите сохранение"))
            return;
        if (ExportedProduct!=null)
        {

            if (await ExportedProductManager.UpdateAsync(ExportedProduct))
            {
                SetBackup();
                CalculateQuantity();
                await RefreshParentCallback.InvokeAsync();
            }
            else
            {
                ResetEditTotalQuantity();
            }
            _editTotalQuantity = false;
        }

    }
    private void ResetEditTotalQuantity()
    {
        if (ExportedProduct == null) return;
        ExportedProduct.Quantity = _backupTotalQuantity;
        _editTotalQuantity = false;
    }

    private async Task ReloadExportedProduct()
    {
        ExportedProduct = await ExportedProductManager.GetDetailsAsync(ExportedProduct!.Id);
        if (ExportedProduct is { Product.ProductsInStorage: { } })
            StorageList = ExportedProduct.Product.ProductsInStorage.ToList();
        SetBackup();
        await InvokeAsync(StateHasChanged);
    }

    private void SetFromStorageQuantity(int quantity, Guid storageId)
    {
        var soldInDb = ExportedProduct!.SoldFromStorage?.FirstOrDefault(f => f.StorageId == storageId);
        var productInStorage = StorageList?.FirstOrDefault(f => f.StorageId == storageId);
        var quantityInBackup = 0;
        if (BackupSoldFromStorage != null && BackupSoldFromStorage.Any())
        {
            var backupSold = BackupSoldFromStorage.FirstOrDefault(f => f.StorageId == storageId);
            quantityInBackup = backupSold?.Quantity ?? quantityInBackup;
        }
        if (productInStorage != null)
        {
            if (soldInDb != null)
            {
                if (soldInDb.Quantity == quantity)
                {
                    EditedQuantity.Remove(storageId);
                    return;
                }

                int modQuantity;
                if (soldInDb.Quantity < quantity)
                {
                    modQuantity = quantity - soldInDb.Quantity;
                    productInStorage.Quantity -= modQuantity;
                }
                else
                {
                    modQuantity = soldInDb.Quantity - quantity;
                    productInStorage.Quantity += modQuantity;
                }

                soldInDb.Quantity = quantity;
            }
            else
            {
                if (productInStorage.Quantity - quantity < 0)
                    return;
                productInStorage.Quantity -= quantity;

                ExportedProduct!.SoldFromStorage ??= new List<SoldFromStorage>();
                ExportedProduct!.SoldFromStorage.Add(new SoldFromStorage()
                {
                    StorageId = storageId,
                    ExportedProductId = ExportedProduct.Id,
                    Quantity = quantity

                });
            }
        }

        CalculateQuantity();
        if (!EditedQuantity.Contains(storageId) && quantityInBackup != quantity)
            EditedQuantity.Add(storageId);
        if (quantityInBackup == quantity)
            EditedQuantity.Remove(storageId);
        StateHasChanged();
    }
    private void SetPurchaseAtExportQuantity(int quantity, Guid importedProductId)
    {
        var importedProduct = NotEquippedImportedProducts?.FirstOrDefault(f => f.Id == importedProductId);
        var quantityInBackup = 0;
        if (BackupPurchaseAtExport != null)
        {
            var backupPurchase = BackupPurchaseAtExport.FirstOrDefault(f => f.ImportedProductId == importedProductId);
            quantityInBackup = backupPurchase?.Quantity ?? 0;
        }
        if (importedProduct != null)
        {
            var purchaseInDb = ExportedProduct!.PurchaseAtExports?.FirstOrDefault(f => f.ImportedProductId == importedProductId);
            var notReservedQuantity = importedProduct.Quantity - (importedProduct.PurchaseAtExportList?.Select(s => s.Quantity).Sum()
                                                                  + importedProduct.PurchaseAtStorageList?.Select(s => s.Quantity).Sum());
            if (purchaseInDb != null)
            {
                if (purchaseInDb.Quantity == quantity)
                {
                    EditedQuantity.Remove(importedProductId);
                    return;
                }
                purchaseInDb.Quantity = quantity;
                importedProduct!.PurchaseAtExportList!.FirstOrDefault(f => f.ImportedProductId == importedProductId)!.Quantity = quantity;
            }
            else
            {
                var tempPurchase = new PurchaseAtExport()
                {
                    ImportedProductId = importedProductId,
                    ExportedProductId = ExportedProduct!.Id,
                    Quantity = quantity
                };
                importedProduct.PurchaseAtExportList ??= new List<PurchaseAtExport>();
                importedProduct.PurchaseAtExportList.Add(tempPurchase);
                ExportedProduct.PurchaseAtExports ??= new List<PurchaseAtExport>();
                ExportedProduct.PurchaseAtExports.Add(tempPurchase);
            }
        }

        CalculateQuantity();
        if (!EditedQuantity.Contains(importedProductId) && quantityInBackup != quantity)
            EditedQuantity.Add(importedProductId);
        if (quantityInBackup == quantity)
            EditedQuantity.Remove(importedProductId);
        StateHasChanged();
    }
    private async Task UpdateSources()
    {
        var confirm = await ConfirmationActionService.ConfirmationActionAsync("Подтвердите сохранение");
        if(!confirm) return;
        if (await ExportedProductManager.UpdateSourcesOrderItems(ExportedProduct!))
        {
            _snackBar.Add($"Изменения сохранены");
            EditedQuantity.Clear();
            await ReloadExportedProduct();
            await RefreshParentCallback.InvokeAsync();
        }
        else
            _errorUpdate = true;
    }
    private async void SaveSoldFromStorage(Guid storageId)
    {
        var soldFromStorage = ExportedProduct!.SoldFromStorage!.FirstOrDefault(f => f.StorageId == storageId);
        soldFromStorage!.ExportedProduct = ExportedProduct;
        if (await StorageManager.ReserveAProductAsync(soldFromStorage!))
        {
            _snackBar.Add($"Зарезервировано {soldFromStorage!.Quantity} шт.");
            _soldFromStorageIsEdit = false;
        }
    }

    private void CalculateQuantity()
    {
        QuantityInReserveAll = 0;
        if (ExportedProduct!.SoldFromStorage != null)
            QuantityInReserveAll += ExportedProduct.SoldFromStorage.Select(s => s.Quantity).Sum();

        if (ExportedProduct.PurchaseAtExports != null)
            QuantityInReserveAll += ExportedProduct.PurchaseAtExports.Select(s => s.Quantity).Sum();

        MissingQuantity = ExportedProduct.Quantity - QuantityInReserveAll;
        if (ImportOfferCurrentPriceList != null)
        {
            var offersWithSelect = ImportOfferCurrentPriceList.Where(w => w.ExportProductPriceImportOffers != null)
            .SelectMany(s => s.ExportProductPriceImportOffers).Where(w => w.ExportedProductId == ExportedProduct.Id);
            if (offersWithSelect != null && offersWithSelect.Any())
            {
                _allSelectedFromOffers = offersWithSelect.Sum(s => s.Quantity);
            }
            else
            {
                _allSelectedFromOffers = 0;
            }

        }
    }

    private async Task OpenCreateImportedProductDialog(ProductsInStorage productsInStorage)
    {
        CreatedImportedProduct = new ImportedProduct()
        {
            Product = ExportedProduct!.Product,
            ProductId = ExportedProduct.ProductId,
            ExportedProducts = new List<ExportedProduct>(){ExportedProduct!},
            Quantity = MissingQuantity
        };
        CreatedImportedProduct.PurchaseAtExportList = new List<PurchaseAtExport>()
        {
            new PurchaseAtExport()
            {
                ExportedProduct = ExportedProduct,
                ExportedProductId = ExportedProduct!.Id,
                Quantity = MissingQuantity,
                ImportedProduct = CreatedImportedProduct,
                ImportedProductId = CreatedImportedProduct.Id
            }
        };
        if (await ImportedProductManager.AddAsync(CreatedImportedProduct))
        {
            _snackBar.Add($"Шаблон на импорт создан");
        }

    }
    private async void CreateImportedProduct()
    {
        _visibleAddImportedProductDialog = true;
        /*CreatedImportedProduct = new ImportedProduct()
        {
            Product = ExportedProduct!.Product,
                ProductId = ExportedProduct.ProductId,
                ExportedProducts = new List<ExportedProduct>() { ExportedProduct! },
                Quantity = MissingQuantity
            };
        CreatedImportedProduct.PurchaseAtExportList = new List<PurchaseAtExport>()
        {
            new()
            {
                ExportedProduct = ExportedProduct,
                ExportedProductId = ExportedProduct!.Id,
                Quantity = MissingQuantity,
                ImportedProduct = CreatedImportedProduct,
                ImportedProductId = CreatedImportedProduct.Id
            }
        };
        if (await ImportedProductManager.AddAsync(CreatedImportedProduct))
        {
            _snackBar.Add($"Шаблон на импорт создан");
            await ReloadExportedProduct();
            CalculateQuantity();
            }*/
    }

    private async void RemoveSoldFromStorage(SoldFromStorage soldFromStorage)
    {
        if (ExportedProduct == null) return;
        if (await StorageManager.CancelReserveAProductAsync(soldFromStorage))
        {
            _snackBar.Add($"Отменена резервация {soldFromStorage.Quantity} шт.");

        }
        ExportedProduct.StorageList!.Remove(soldFromStorage.Storage!);
        ExportedProduct.SoldFromStorage!.Remove(soldFromStorage);
        await InvokeAsync(StateHasChanged);
    }

    private async void AddPurchaseAtExport(ImportedProduct importedProduct)
    {
        if (ExportedProduct != null)
        {
            ExportedProduct.PurchaseAtExports ??= new List<PurchaseAtExport>();
            ExportedProduct.ImportedProducts ??= new List<ImportedProduct>();
            ExportedProduct.ImportedProducts.Add(importedProduct);
            ExportedProduct.PurchaseAtExports.Add(new PurchaseAtExport()
                {
                    ExportedProduct = ExportedProduct,
                    ExportedProductId = ExportedProduct.Id,
                    ImportedProduct = importedProduct,
                    ImportedProductId = importedProduct.Id
                });
        }
        await InvokeAsync(StateHasChanged);
    }
    private async void RemovePurchaseAtExport(PurchaseAtExport purchaseAtExport)
    {
        if (ExportedProduct != null)
        {
            ExportedProduct.ImportedProducts!.Remove(purchaseAtExport.ImportedProduct!);
            ExportedProduct.PurchaseAtExports!.Remove(purchaseAtExport);
        }
        await InvokeAsync(StateHasChanged);
    }

    private void OpenImportedOrderPopover(Guid importedOrderId)
    {
        //CloseAllPopover();
        ShowingImportOrderId = importedOrderId;
        _visibleImportOrder = true;
    }
    private void SetOfferToExportedProduct(double quantity, PriceForImportOffer price)
    {
        if (editedPriceId != null && editedPriceId != price.Id) return;
        if (_backupOfferQuantity == null)
        {
            if (price.ExportProductPriceImportOffers != null)
            {
                var o = price.ExportProductPriceImportOffers.
                    FirstOrDefault(f => f.ExportedProductId == ExportedProduct!.Id)!.Quantity;
                _backupOfferQuantity = o != null ? o : 0;
            }
            else
            {
                _backupOfferQuantity = 0;
            }
        }
        if (editedPrice == null)
        {

            var pr = price.ExportProductPriceImportOffers != null ? price.ExportProductPriceImportOffers
                    .FirstOrDefault(f => f.ExportedProductId == ExportedProduct!.Id) : null;


            if (pr != null)
            {
                editedPriceId = price.Id;
                editedPrice = pr;

                if (editedPrice.Quantity > quantity)
                    _allSelectedFromOffers -= editedPrice.Quantity - quantity;
                else
                {
                    var tempAll = _allSelectedFromOffers + quantity - editedPrice.Quantity;
                    if (_allSelectedFromOffers >= MissingQuantity)
                        return;
                    _allSelectedFromOffers = tempAll;
                }

                editedPrice!.Quantity = quantity;
            }
            else
            {
                editedPriceId = price.Id;
                editedPrice = new ExportProductPriceImportOffer()
                {
                    ExportedProductId = ExportedProduct!.Id,
                    Quantity = quantity,
                    PriceId = price.Id
                };
                if (_allSelectedFromOffers + quantity >= MissingQuantity)
                    return;

                _allSelectedFromOffers += quantity;
                price.ExportProductPriceImportOffers ??= new List<ExportProductPriceImportOffer>();
                price.ExportProductPriceImportOffers.Add(editedPrice);
            }
        }
        else
        {
            if (editedPrice.Quantity > quantity)
                _allSelectedFromOffers -= editedPrice.Quantity - quantity;
            else
            {
                var tempAll = _allSelectedFromOffers + quantity - editedPrice.Quantity;

                if (_allSelectedFromOffers >= MissingQuantity)
                    return;
                _allSelectedFromOffers = tempAll;
            }

            editedPrice!.Quantity = quantity;
            /*if (quantity == 0)
            {
                editedPrice = null;
                editedPriceId = null;
                _backupOfferQuantity = null;
                }*/
        }


    }
    private async Task AddOfferToExportedProduct()
    {
        if (editedPrice == null) return;

        if (await ConfirmationActionService.ConfirmationActionAsync("Подтвердите изменение"))
        {
            await ImportOfferManager.AddOfferToExportOrderAsync(editedPrice);
            editedPrice = null;
            editedPriceId = null;
            _backupOfferQuantity = null;
        }
    }

    private void ResetEditPrice(PriceForImportOffer price)
    {
        editedPrice = null;
        editedPriceId = null;
        var old = ImportOfferCurrentPriceList!.FirstOrDefault(s => s.Id == price.Id);

        if (old != null)
        {
            if (old.ExportProductPriceImportOffers != null) old.ExportProductPriceImportOffers
                .FirstOrDefault(f => f.ExportedProductId == ExportedProduct!.Id)!.Quantity = _backupOfferQuantity ?? 0;

        }
        _backupOfferQuantity = null;
        CalculateQuantity();
    }

    private void OpenImportedOrderInOfferPopover(Guid importedOrderId)
    {
        //CloseAllPopover();
        ShowingImportOrderInOfferId = importedOrderId;
        _visibleImportOrderInOffer = true;
    }

    private async Task OpenAddToImportOrderComponent(Guid companyId)
    {
        BeginFormedImportOrders = null;
        try
        {
            BeginFormedImportOrders = BackupImportOrdersForCompany[companyId];
        }
        catch 
        {
            var statusList = await ImportedOrderStatusManager.GetAsync();
            var statusId = statusList.FirstOrDefault(f => f.Value == ImportOrderStatusNames.BeginFormed)!.Id;
            var responseOrders = await ImportedOrderManager.GetBySortFilterPaginationAsync(new SortPagedRequest<FilterOrderTuple>()
            {
                PageIndex = 0,
                PageSize = int.MaxValue,
                FilterTuple = new FilterOrderTuple()
                {
                    ContragentsCompanies = new List<Guid>() { companyId },
                    CurrentStatusId = statusId
                },

            });
            if (responseOrders.Items != null)
            {
                BeginFormedImportOrders = responseOrders.Items.ToList();
                BackupImportOrdersForCompany.Add(companyId, BeginFormedImportOrders);
            }
        }

        if (BeginFormedImportOrders != null && BeginFormedImportOrders.Any())
            _visibleImportOrdersFromOffer = true;


    }

    private async Task OpenAddProductAtOfferToImportOrderComponent(ImportedOrder order, int quantity, PriceForImportOffer price)
    {
	    OrderOwner = order;
        ImportOfferPriceForAddedToOrder = new ImportProductPriceImportOffer()
        {
            Quantity = quantity, PriceId = price.Id, Price = price
        };
	    var product = ExportedProduct.Product;
        PurchaseAtOffer = new PurchaseAtExport() { 
            ExportedProduct = ExportedProduct,
	        ExportedProductId = ExportedProduct.Id
	        , Quantity = quantity };
	    _visibleAddImportedProductDialog = true;
    }

    private async Task CreateImportProductByOffer()
    {

    }
}
