@using DKCrm.Shared.Models.OrderModels
@using static Microsoft.AspNetCore.Components.Web.RenderMode


<div class="flex-column">
    @if (ParentStatusList != null && CurrentOrder.ExportedOrderStatus != null && CurrentOrder.ExportedOrderStatusExported!.Any())
    {
        <MudMenu Disabled="MoveLock" Label="@CurrentStatus.Value">
                @foreach (var status in ParentStatusList)
                {
                var isNotDisable = ((int)status.Position == (int)CurrentStatus.Position + 1)
                | ((int)status.Position == (int)CurrentStatus.Position - 1) | ((int)status.Position < 0);
                    if (status.Position == CurrentStatus.Position)
                    {
                        <MudMenuItem Disabled="true" OnClick="() => UpdateStatusInOrderClicked(CurrentOrder,status)" Class="p-0">
                        <MudPaper Class="pa-3 d-flex" Style="background: lightgreen">
                        <MudText>@status.Value @status.Position</MudText>
                        </MudPaper>
                        </MudMenuItem>
                    }
                if (status.Position != CurrentStatus.Position)
                    {
                    <MudMenuItem Disabled="!isNotDisable" OnClick="() => UpdateStatusInOrderClicked(CurrentOrder, status)" Class="p-0">
                        <MudPaper Class="pa-3 d-flex" Style="background: none">
                        <MudText>@status.Value @status.Position</MudText>
                        </MudPaper>
                        </MudMenuItem>
                    }
                   @*  if (status.Position < CurrentStatus.Position)
                    {
                        <MudMenuItem Disabled="true" OnClick="() => UpdateStatusInOrderClicked(CurrentOrder,status)" Class="p-0">
                        <MudPaper Class="pa-3 d-flex" Style="background:lightblue">
                        <MudText>@status.Value @status.Position</MudText>
                        </MudPaper>
                        </MudMenuItem>
                    }
                    if (status.Position < 0 && status.Position == CurrentStatus.Position)
                    {
                        <MudMenuItem Disabled="true" OnClick="() => UpdateStatusInOrderClicked(CurrentOrder,status)" 
                                     Class="p-0">
                            <MudPaper Class="pa-3 d-flex" Style="background:lightcoral">
                                <MudText>@status.Value @status.Position</MudText>
                            </MudPaper>
                        </MudMenuItem>
                    } *@
                }
            @CurrentUserId;
        </MudMenu>
    }
    else
    {
        <MudMenu Disabled="MoveLock" Label="Выбрать статус">
            @if (ParentStatusList != null)
            {
                foreach (var status in ParentStatusList)
                {
                    <MudMenuItem OnClick="() => UpdateStatusInOrderClicked(CurrentOrder,status)" Class="p-0">
                        <MudPaper Class="pa-3 d-flex">
                            <MudText>@status.Value @status.Position</MudText>
                        </MudPaper>
                    </MudMenuItem>
                }
            }
        </MudMenu>
    }
</div>

@code {

    [Parameter] public List<ExportedOrderStatus>? StatusList { get; set; }
    [Parameter] public List<ExportedOrderStatus>? ParentStatusList { get; set; }
    [Parameter] public ExportedOrder CurrentOrder { get; set; } = null!;
    [Parameter] public string? CurrentUserId { get; set; }
    private ExportedOrderStatus CurrentStatus { get; set; } = null!;
    private ExportedOrderStatus CurrentChildStatus { get; set; } = null!;

    private string _statusBackground = "green";
    private string _statusBackgroundNone = "blue";
    private bool _IsDisableStatus;
    private bool MoveLock;
    //MudListItem selectedItem;
    ExportedOrderStatus selectedValue;

    protected override async Task OnInitializedAsync()
    {
        StatusList ??= await ExportedOrderStatusManager.GetAsync();
        ParentStatusList = StatusList.Where(w => w.ParentId == null || w.ParentId == Guid.Empty).ToList();
        StatusList = StatusList.Where(w => w.Children == null || !w.Children.Any()).ToList();
        if (CurrentOrder.ExportedOrderStatusExported != null && CurrentOrder.ExportedOrderStatusExported.Any())
        {
            CurrentStatus = CurrentOrder.ExportedOrderStatusExported.MaxBy(o => o.DateTimeCreate)!.ExportedOrderStatus!;
            if (!string.IsNullOrEmpty(CurrentStatus.UsersWitchAccess) && CurrentUserId != null) 
                MoveLock = !CurrentStatus.UsersWitchAccess.Contains(CurrentUserId);
        }

    }

    private async Task MoveStatusStage(ExportedOrder order, ExportedOrderStatus status, bool isNextMove)
    {
        /*var neededStatusPosition = isNextMove ? (int)CurrentStatus.Position + 1 : (int)CurrentStatus.Position - 1;
        if (isNextMove == false && CurrentStatus.AllowMoveBack == false && neededStatusPosition > 0)
        {
            _snackBar.Add("На этой стадии запрещено движение назад");
            return;
        }*/

        /*var neededStatus = ParentStatusList?.FirstOrDefault(w => (int)w.Position == neededStatusPosition);


        await UpdateStatusInOrderClicked(CurrentOrder, neededStatus);*/
    }

    private async Task UpdateStatusInOrder(ExportedOrder order, ExportedOrderStatus status)
    {
        if (status.Position < 0 && !await ConfirmationActionService.ConfirmationActionAsync("Вы устанавливаете статус \"Отменен\" для заказа.Будут сброшены зависимости и продукты возвращены по складам."))
            return;
        var statusToOrder = new ExportedOrderStatusExportedOrder()
        {
            ExportedOrderId = order.Id,
            ExportedOrderStatusId = status.Id,
            DateTimeCreate = DateTime.Now
        };
        if (await ExportedOrderManager.AddStatusToOrderAsync(statusToOrder))
        {
            _snackBar.Add("Статус заказа изменен");
            //await _table!.ReloadServerData();
            CurrentStatus = status;
        }
    }
    [Inject] private IDialogService DialogService { get; set; } = null!;

    private async Task UpdateStatusInOrderClicked(ExportedOrder order, ExportedOrderStatus status)
    {
        bool? result = await DialogService.ShowMessageBox(
            "Внимание",
            "Подтвердите изменение статуса заказа!",
            yesText: "Подтвердить!  ", cancelText: "  Отменить");

        if (result != null && (bool)result)
        {
            await UpdateStatusInOrder(order,status);
        }
        StateHasChanged();
    }
}
